<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
        <title>Room</title>
    </head>
    <body>
        <h1>Room</h1>
        <button id="shareUrl">URLを共有する</button>
        <div id="chat-container">
            <div>
                <h2>説明書</h2>
                <ul>
                    <li>設定は，<a href="https://dialog-system-live-competition.github.io/dslc4/situationtrack.html" target="_blank" rel="noopener noreferrer">こちら</a>を参照してください．</li>
                    <li>startを押した方が，清水(システム)として振る舞います．<br>startを押すと，「湯川先輩，お疲れ様です！！😀」で対話が始まります</li>
                    <li>startではない方が，先輩の湯川(ユーザ)です．</li>
                    <li>湯川サイドは，婉曲的に誘いを断り続けてください．</li>
                    <li>交互にしか対話することができません．</li>
                    <li>最低各人8回は発話してください．</li>
                    <li>退出前に，最後にダウンロードのリンクを押して，コーパスをダウンロードしてください．</li>
                </ul>
            </div>
            <div id="chat">
                
            </div>
            <div id="startChat" style="display: block">
                <input id="startChatBtn" type="button" value="start">
            </div>
            <div id="typing" style="display: none;">
                <input type="text" id="message">
                <input id="sendMessage" type="button" value="send">
            </div>
            <a href id="download" download="{{ room_id }}.txt">チャットデータをダウンロードする</a>
        </div>
        <a href="{{ url_for('home') }}" id="leave">退出する</a>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script>
        const shareButton = document.getElementById('shareUrl');
        const messageArea = document.getElementById('message');
        const sendBtn = document.getElementById('sendMessage');
        const chat = document.getElementById('chat');
        const startChat = document.getElementById('startChat');
        const startChatBtn = document.getElementById('startChatBtn');
        const typing = document.getElementById('typing');
        const download = document.getElementById('download');
        const leave = document.getElementById('leave');
        const socket = io();
        const room_id = "{{ room_id }}";
        // const user_id = '{{ user_id }}';
        let prior, turn, user_id;

        socket.on('connect', function() {
            socket.emit('my event', {data: 'I\'m connected!'});
            socket.emit('join', {data: room_id});
        });

        shareButton.addEventListener('click', e => {
            let url = window.location;
            const pre = document.createElement('pre');
            pre.style.webkitUserSelect = 'auto';
            pre.style.userSelect = 'auto';
            pre.textContent = url;
            document.body.appendChild(pre);
            document.getSelection().selectAllChildren(pre);
            document.execCommand('copy');
            document.body.removeChild(pre);
            return
        });
        startChatBtn.addEventListener('click', e => {
            socket.emit('message', {
                data: '湯川先輩，お疲れ様です！！😀',
                start: true,
                'user_id': user_id,
            })
            startChat.style.display = 'none';
            typing.style.display = 'block';
        })
        sendBtn.addEventListener('click', e => {
            let message = messageArea.value;
            if (message == '') return;
            socket.emit('message', {
                data: message,
                start: false,
                'user_id': user_id,
            });

            messageArea.value = '';
        });
        download.addEventListener('click', e => {
            let corpus = '';
            let system = true;
            for (elm of chat.getElementsByTagName('div')) {
                if (system) {
                    corpus += `<sys>${elm.innerText}\n`;
                } else {
                    corpus += `<usr>${elm.innerText}\n`;
                }
                system = !system;
            }
            let blob = new Blob([corpus], {type: 'text/plain;charset=utf-8'});
            download.href = window.URL.createObjectURL(blob);
        })

        socket.on('user_id', data => {
            if (!user_id) user_id = data.user_id;
        })
        socket.on('message', data => {
            let msg = data.data;
            console.log(msg)
            if (!msg) return;
            let start = data.start;
            if (start) {
                startChat.style.display = 'none';
                typing.style.display = 'block';
                prior = true;
            }
            if (user_id == data.user_id) {
                turn = false;
            } else {
                turn = true;
            }
            sendBtn.disabled = !turn;
            
            let newMessage = document.createElement('div');
            newMessage.textContent = msg;
            if (user_id == data.user_id) {
                newMessage.classList.add('myMessage');
            } else {
                newMessage.classList.add('otherMessage');
            }
            chat.appendChild(newMessage);
        });
        socket.on('prior', data => {
            let prior_id = data.user_id;
            if (user_id != prior_id) {
                turn = true;
            } else {
                turn = false
            }
        })
        leave.addEventListener('click', e => {
            e.preventDefault();
            let confirm = window.confirm('退出すると対話データが消えてしまいます．\n退出してもよろしいですか？');
            if (confirm) {
                socket.emit('leave', {data: room_id});
                console.log('leave');
                window.location ="{{ url_for('home') }}";
            }
        });
        window.onbeforeunload = function (e) {
            e.preventDefault();
            socket.emit('leave', {data: room_id});
            console.log('leave');
            window.location = e.newURL;
        }
        window.onhashchange = function (e) {
            e.preventDefault();
            socket.emit('leave', {data: room_id});
            console.log('leave');
            window.location = e.newURL;
        }
    </script>
</html>